body {
  background-color: #f7f2f6 !important;  /* nude shade */
  margin: 0;
  padding: 0;
}

.container {
  padding: 20px;
}

h2 {
  text-align: center;
  color: #333;
}

.table-wrapper {
  margin-top: 20px;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  overflow: hidden;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #0a080a !important;
  color: white !important;
}
